<a href="https://colab.research.google.com/github/adityaksharma181/ML_course_MNIT/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
'''
  dictionary is the collection of keyvalue pairs
  we can use key values to access the associated element with it
'''

'\n  dictionary is the collection of keyvalue pairs\n  we can use key values to access the associated element with it\n'

In [14]:
student = {
    "name" : "aditya",
    "class" : 10,
    "marks" : 100
}
print(student)
print(student["name"])
print(student.get("class"))

{'name': 'aditya', 'class': 10, 'marks': 100}
aditya
10

In [16]:
# dictionary in tuples
tup0 = (12)
tup1 = (34)
dictionary_tup = {
    "tup0" : tup0,
    "tup1" : tup1
}
print(dictionary_tup)

{'tup0': 12, 'tup1': 34}

In [19]:
# tuples and list in dictionary
list0 = [1,2,3]
tup0 = (4,5,6)
dixnry = {
    "list0" : list0,
    "tup0" : tup0
}
print(dixnry)
list0.append(89)
print(dixnry)

{'list0': [1, 2, 3], 'tup0': (4, 5, 6)}
{'list0': [1, 2, 3, 89], 'tup0': (4, 5, 6)}

In [22]:
car_details = {
    "model" : "Baleno",
    "brand" : "TATA",
    "Year of Manufacture" : "2016",
    "colors" : ("red", "green", "black", "white", "blue")
}
print(car_details)
print(f"my friend owns {car_details['model']} which was manufatured in {car_details['Year of Manufacture']} has the color of {car_details['colors']}")

{'model': 'Baleno', 'brand': 'TATA', 'Year of Manufacture': '2016', 'colors': ('red', 'green', 'black', 'white', 'blue')}
my friend owns Baleno which was manufatured in 2016 has the color of ('red', 'green', 'black', 'white', 'blue')

In [29]:
# dictionary in dictionary
galaxies = {
    "gal0" : "milkyway",
    "gal1" : "andromeda"
}

stars = {
    "star0" : "sun",
    "star1" : "polaris",
    "star2" : "vega"
}

universe = {
    "galaxies" : "galaxies",
    "stars" : "stars"
}

print(universe.get("galaxies"))

galaxies

In [30]:
# Example nested dictionary
nested_dict = {
    'item1': {'name': 'Apple', 'color': 'Red', 'price': 1.2},
    'item2': {'name': 'Banana', 'color': 'Yellow', 'price': 0.5},
    'item3': {'name': 'Grapes', 'color': 'Green', 'price': 2.0}
}

# Loop through the outer dictionary
for key, inner_dict in nested_dict.items():
    print(f"Dictionary at key '{key}':")
    # Loop through each inner dictionary's items
    for attr, value in inner_dict.items():
        print(f"  {attr}: {value}")
    print()  # Blank line for readability

Dictionary at key 'item1':
  name: Apple
  color: Red
  price: 1.2

Dictionary at key 'item2':
  name: Banana
  color: Yellow
  price: 0.5

Dictionary at key 'item3':
  name: Grapes
  color: Green
  price: 2.0