<a href="https://colab.research.google.com/github/adityaksharma181/ML_course_MNIT/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
''' Tuples are same as list but cannot be editable once declared'''

' Tuples are same as list but cannot be editable once declared'

In [2]:
#define tuples
tup = (1,2,3)
print(tup)
print(type(tup))

(1, 2, 3)
<class 'tuple'>

In [ ]:
#